<%- include('partials/header'); -%>

<h1>Ausleihe</h1>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #reader {
    width: 600px;
  }

  #result {
    text-align: center;
    font-size: 1.5rem;
  }
</style>
<main id="scanMain">
  <div id="reader"></div>
  <div id="result"></div>
</main>

<div class="w3-panel w3-green divSuccess" style="display: none">
  <p class="pSuccess">Ausleihe erfolgreich:</p>
</div>
<div class="w3-panel w3-red divError" style="display: none">
  <p class="pError">Ausleihe Fehler</p>
</div>

<form action="/checkout" id="formScan">
  <button class="w3-button w3-black btnScan">User/Leihzettel scannen</button>
</form>
<p></p>

<script>
  const divError = document.querySelector('.divError');
</script>

<% 
   if (users && (users.length > 0)) { 
    // show hits of user search to let admin choose one
%>
<table class="w3-table-all userTable" id="userTable">
  <tr>
    <th>Name</th>
    <th>E-Mail</th>
    <th></th>
  </tr>

  <% users.forEach(user => { %>
  <tr>
    <td class="userName"><%= user.firstName %>&nbsp;<%= user.lastName %></td>
    <td class="userEmail"><%= user.email %></td>
    <td><button onclick="document.querySelector('.userTable').style = 'display: none'; postCheckout({ userId: '<%= user.id %>' });" class="w3-button">Auswählen</button></td>
  </tr>
  <% }); %>
</table>
<% } else { %>
<div class="divUserSearch" style="display: block">
  <form action="/score/checkout" id="formUserSearch" method="post">
    <label>Nachname</label>
    <input type="text" name="userLastName" value="" class="w3-input userSearchLastName" required>
    <p></p>
    <button class="w3-button w3-black btnUserSearch">User über Namen suchen</button>
  </form>
</div>
<% } %>
<% if (users && (users.length == 0)) { %>
<script>
  divError.style = "display: block";
  const pError = document.querySelector('.pError');
  pError.textContent = 'Benutzer nicht gefunden';
</script>
<% } %>

<script src="./node_modules/html5-qrcode/html5-qrcode.min.js"></script>

<div class="w3-panel w3-border divUser" style="display: none">
  <h3>Benutzer</h3>
  <label>ID</label>
  <input type="text" name="userId" value="" class="w3-input userId" readonly>
  <label>Name</label>
  <input type="text" name="name" value="" class="w3-input name" readonly>
  <label>Email</label>
  <input type="text" name="email" value="" class="w3-input email" readonly>
  <input type="hidden" name="checkoutId" value="" class="w3-input checkoutId" readonly>
</div>

<div class="w3-panel w3-border divScore" style="display: none">
  <form action="/checkout" id="formCheckout">
    <h3>Noten</h3>
    <label>ID</label>
    <input type="text" name="scoreId" value="" class="w3-input scoreId" readonly>
    <label>Ext. ID</label>
    <input type="text" name="scoreExtId" value="" class="w3-input scoreExtId">
    <label>Zustand</label>
    <input type="text" name="state" value="" class="w3-input state">
    <label>Datum</label>
    <input type="date" name="date" value="" class="w3-input date">
    <label>Kommentar</label>
    <input type="text" name="comment" value="" class="w3-input comment">
    <label>Doppelte Ausleihe erlauben</label>
    <input type="checkbox" name="allowDoubleCheckout" value="allow" class="w3-check allowDoubleCheckout">
    <p></p>
    <button class="w3-button w3-black btnCheckout">Ausleihe</button>
  </form>
</div>

<div class="divHome" style="display: none">
  <p></p>
  <a href="/" class="w3-button w3-black">Startseite</a>
</div>

<%- include('partials/footer'); -%>

<script>
  const formScan = document.querySelector('#formScan');
  const formCheckout = document.querySelector('#formCheckout');
  const btnScan = document.querySelector('.btnScan');
  const btnCheckout = document.querySelector('.btnCheckout');
  const divUser = document.querySelector('.divUser');
  const divUserSearch = document.querySelector('.divUserSearch');
  const divScore = document.querySelector('.divScore');
  const divSuccess = document.querySelector('.divSuccess');
  const pSuccess = document.querySelector('.pSuccess');
  const divHome = document.querySelector('.divHome');
  const cbAllowDoubleCheckout = document.querySelector('.allowDoubleCheckout');

  var scanner;

  formScan.addEventListener('submit', async (e) => {
    e.preventDefault();
    divError.style = "display: none";
    formScan.style = "display: none";
    if (divUserSearch) { // TODO: why not defined after search?
      divUserSearch.style = "display: none";
    }
    divSuccess.style = "display: none";

    scanner = new Html5QrcodeScanner('reader', {
      qrbox: {
        width: 250,
        height: 250,
      },
      fps: 20,
    });
    scanner.render(scanSuccess, scanError);
  });

  formCheckout.addEventListener('submit', async (e) => {
    e.preventDefault();
    divError.style = "display: none";

    const inputUserId = document.querySelector('.userId');
    const inputScoreId = document.querySelector('.scoreId');
    const inputScoreExtId = document.querySelector('.scoreExtId');
    const inputState = document.querySelector('.state');
    const inputDate = document.querySelector('.date');
    const inputComment = document.querySelector('.comment');
    const inputAllowDoubleCheckout = document.querySelector('.allowDoubleCheckout');
    const inputCheckoutId = document.querySelector('.checkoutId');
    await postCheckout({
      userId: inputUserId.value,
      scoreId: inputScoreId.value,
      scoreExtId: inputScoreExtId.value,
      state: inputState.value,
      date: inputDate.value,
      comment: inputComment.value,
      allowDoubleCheckout: inputAllowDoubleCheckout.value,
      checkoutId: inputCheckoutId.value,
    });
  });

  async function postCheckout(input) {
    const {
      userJwtOrCheckoutId, // oder Leihzettel Checkout Id
      userId,
      userLastName,
      scoreId,
      scoreExtId,
      state,
      date,
      comment,
      allowDoubleCheckout,
      checkoutId
    } = input;
    // console.log("submitScanResult: userId=" + userId + ", lastName=" + userLastName + ", scoreId=" + scoreId, ", allowDoubleCheckout=", allowDoubleCheckout);
    try {
      const res = await fetch('/score/checkout', {
        method: 'POST',
        body: JSON.stringify({
          userJwtOrCheckoutId,
          userId,
          userLastName,
          scoreId,
          scoreExtId,
          state,
          date,
          comment,
          allowDoubleCheckout,
          checkoutId
        }),
        headers: {
          'Content-Type': 'application/json'
        }
      });
      const data = await res.json();
      console.log("data=", data);
      if (data.errors) {
        console.error(data.errors);
        const pError = document.querySelector('.pError');
        pError.textContent = data.errors;
        return false;
      }
      if ((userId && data.checkoutUser) || (userJwtOrCheckoutId && data.checkoutUser)) {
        // User which is about to checkout found
        console.log("User which is about to checkout found");

        divSuccess.style = "display: block";
        const userText = data.checkoutUser.id == data.USER_UNKNOWN ? "Leihzettel " + data.checkoutId : "Benutzer: " + data.checkoutUser.firstName + " " + data.checkoutUser.lastName;
        pSuccess.innerHTML = userText + "<br>";
        btnScan.textContent = "Noten scannen";
        const inputUserId = document.querySelector('.userId');
        const inputName = document.querySelector('.name');
        const inputEmail = document.querySelector('.email');
        const inputCheckoutId = document.querySelector('.checkoutId');
        inputUserId.value = data.checkoutUser.id;
        inputName.value = data.checkoutUser.firstName + " " + data.checkoutUser.lastName;
        inputEmail.value = data.checkoutUser.email;
        inputCheckoutId.value = data.checkoutId;
      }

      if (data.checkoutScore) {
        if (userId && scoreId) { // input parameter function
          // Checkout success
          console.log("Checkout success");

          divUser.style = "display: none";
          divScore.style = "display: none";
          btnCheckout.remove();

          divSuccess.style = "display: block";
          pSuccess.innerHTML += "Ausleihe erfolgreich";

          divError.style = "display: none";
          divHome.style = "display: block";
        } else if (scoreId) { // input parameter function
          // score to checkout found
          console.log("score to checkout found");

          divSuccess.style = "display: block";
          pSuccess.innerHTML += `Noten Id ${data.checkoutScore.id}<br>`;

          const inputScoreId = document.querySelector('.scoreId');
          const inputScoreExtId = document.querySelector('.scoreExtId');
          const inputState = document.querySelector('.state');
          const inputComment = document.querySelector('.comment');

          inputScoreId.value = data.checkoutScore.id;
          inputScoreExtId.value = data.checkoutScore.extId ? data.checkoutScore.extId : "";
          inputState.value = data.checkoutScore.state ? data.checkoutScore.state : "";
        } else {
          console.log("We should not be here");
        }
      } else {
        console.log("NOT data.checkoutScore");
      }
      return true;
    } catch (err) {
      console.log("err=", err);
      divError.style = "display: block";
      const pError = document.querySelector('.pError');
      pError.textContent = err.message;
    }
  }

  async function scanSuccess(result) {
    console.log(result);
    if (btnScan.textContent == "User/Leihzettel scannen") {
      scanner.clear();
      if (await postCheckout({
          userJwtOrCheckoutId: result
        })) {
        btnScan.textContent = "Noten scannen";
        formScan.style = "display: block";
        divUserSearch.style = "display: none";
        divSuccess.style = "display: block";
      } else {
        // Error
        divError.style = "display: block";
        formScan.style = "display: block";
        divUserSearch.style = "display: block";
      }
    } else if (btnScan.textContent == "Noten scannen") {
      scanner.clear();
      if (await postCheckout({
          scoreId: result
        })) {
        document.getElementById('reader').remove();
        divSuccess.style = "display: block";
        divScore.style = "display: block"; // we need to display this form because it has the checkout details input field
        btnScan.remove();
      } else {
        // Error
        divError.style = "display: block";
        formScan.style = "display: block";
        divUserSearch.style = "display: none";
      }
    }
  }

  function scanError(err) {
    console.error(err);
  }
</script>