<%- include('partials/header'); -%>

<script src='https://unpkg.com/vue@3.0.2'></script>

<%- include('components/DataTable.vue.ejs'); %>
<%- include('components/EditModal.vue.ejs'); %>

<h1>Ausleihen</h1>
  
<div id="app">
    <div v-show="error" class="w3-panel w3-red">
        <p>{{ error }}</p>
    </div>
    
    <div v-if="admin" class="w3-panel w3-border">
        <form @submit.prevent="handleCheckoutsFilterSubmit">
            <h3>Filter</h3>
            <label>Noten Signatur</label>
        
            <select class="w3-select" v-model="signature">                
                <option value="">Noten ausw채hlen</option>
                <option v-for="signature in signatures" :value="signature.id">{{signature.name}}</option>
            </select>
        
            <label>Nur offene&nbsp;</label>
            <input type="checkbox" class="w3-check" v-model="checkedOut">
            <p></p>
            <button class="w3-button w3-black">Suchen</button>
            <p></p>
        </form>
    </div>

    <div v-if="checkouts">
        <div class="w3-left-align"><p>{{ statSummary }}</p></div>
        <data-table
            :columns="checkoutColumns"
            :rows="checkouts"
            row-key="id"
            @cell-click="handleCellClick"
        ></data-table>
    </div>


    <!-- The user details modal -->
    <div
        class="w3-modal"
        :style="{ display: showUserDetailsModal ? 'block' : 'none' }"
    >
        <div class="w3-modal-content">
        <div class="w3-container">
            <span @click="closeUserDetails" class="w3-button w3-display-topright">&times;</span>
            <p>{{ userDetailsName }}</p>
            <table class="w3-table-all" id="checkoutsTable">
            <tr>
                <th>E-Mail</th>
                <th>Registriert am</th>
            </tr>
            <tr>
                <td class="userDetailsEmail">{{ userDetailsEmail }}</td>
                <td class="userDetailsRegisterDate">{{userDetailsRegisterDate }}</td>
            </tr>
            </table>
            <p></p>    
        </div>
        </div>
    </div>  

    <!-- edit checkout modal -->
    <edit-modal
        :show="showEditCheckoutModal"
        title="Ausleihe bearbeiten"
        :display-fields="editCheckoutDisplayFields"
        :edit-fields="editCheckoutEditFields"
        :success-message="showEditCheckoutModalSuccess ? 'Bearbeitung erfolgreich' : ''"
        :error-message="editCheckoutModalError"
        :show-user-search="true"
        :users="users"
        v-model:user-search-value="userLastName"
        @close="closeEditCheckout"
        @submit="updateCheckout"
        @user-search="userSearch"
        @choose-user="chooseUser"
    ></edit-modal>
  

</div>

<%- include('partials/footer'); -%>

<script>

const app = Vue.createApp({
    components: {
        DataTable,
        EditModal
    },
    data() {
        return {
            admin: JSON.parse('<%- admin %>'),
            signature: "",
            signatures: JSON.parse('<%- signatures %>'),
            filter: JSON.parse('<%- filter %>'),
            checkouts: undefined,
            checkedOut: true,
            scoreTypeTotalCount: 0,
            scoreTypeTotalCheckedOutCount: 0,
            statSummary: '',
            error: '',
            SIGNATURE_ALL: { id: 'ALL', name: 'Alle'},
            userNamePlusVoice: '',
            showUserDetailsModal: false,
            userDetailsName: '',
            userDetailsEmail: '',
            userDetailsRegisterDate: 'TODO',
            editCheckoutId: '',
            editCheckoutScoreId: '',
            editCheckoutComment: '',
            editCheckinComment: '',
            editCheckoutUserId: '',
            showEditCheckoutModal: false,
            showEditCheckoutModalSuccess: false,
            showFoo: false,
            editCheckoutModalError: '',
            users: [],
            userLastName: '',
        }
    },
    computed: {
        checkoutColumns() {
            return [
                { 
                    key: 'signature', 
                    label: 'Werk', 
                    visible: this.filter.signature === this.SIGNATURE_ALL.id,
                    formatter: (val, row) => row.signature // Add signatureMap lookup if needed
                },
                { key: 'scoreId', label: 'Noten Id' },
                { key: 'scoreExtId', label: 'Noten ext. Id', filterable: true },
                { 
                    key: 'userName', 
                    label: 'Benutzer', 
                    visible: this.admin,
                    clickable: true,
                    filterable: true,
                    formatter: (val, row) => row.user.namePlusVoice
                },
                { 
                    key: 'checkoutTimestamp', 
                    label: 'Ausgeliehen am',
                    clickable: this.admin
                },
                { key: 'checkoutComment', label: 'Kommentar Ausleihe' },
                { key: 'checkinTimestamp', label: 'R체ckgabe am' },
                { key: 'checkinComment', label: 'Kommentar R체ckgabe' }
            ];
        },
        editCheckoutDisplayFields() {
            return [
                { key: 'scoreId', value: this.editCheckoutScoreId },
                { key: 'checkoutId', value: this.editCheckoutId }
            ];
        },
        editCheckoutEditFields() {
            return [
                { key: 'checkoutComment', label: 'Kommentar Ausleihe', value: this.editCheckoutComment },
                { key: 'checkinComment', label: 'Kommentar R체ckgabe', value: this.editCheckinComment },
                { key: 'userId', label: 'User Id', value: this.editCheckoutUserId }
            ];
        }
    },
    methods: {
        handleCellClick({ row, column }) {
            if (column.key === 'userName') {
                this.userDetails(row.user);
            } else if (column.key === 'checkoutTimestamp') {
                this.editCheckout(row);
            }
        },
        userDetails(user) {
            this.userDetailsName = user.name;
            this.userDetailsEmail = user.email;
            this.showUserDetailsModal = true;
        },
        closeUserDetails() {
            this.showUserDetailsModal = false;
        },
        editCheckout(checkout) {
            this.showEditCheckoutModalSuccess = false;
            this.editCheckoutId = checkout.id;
            this.editCheckoutScoreId = checkout.scoreId;
            this.editCheckoutComment = checkout.checkoutComment;
            this.editCheckinComment = checkout.checkinComment;
            this.editCheckoutUserId = checkout.user.id;
            this.showEditCheckoutModal = true;
        },
        async updateCheckout(values) {
            // Update local state from component values
            this.editCheckoutComment = values.checkoutComment;
            this.editCheckinComment = values.checkinComment;
            this.editCheckoutUserId = values.userId;

            // console.log("editCheckoutComment", this.editCheckoutComment, "editCheckinComment=", this.editCheckinComment, "editCheckoutUserId=", this.editCheckoutUserId);

            const res = await fetch('/admin/updateCheckout', {
                method: 'POST',
                body: JSON.stringify({
                    scoreId: this.editCheckoutScoreId,
                    checkoutId: this.editCheckoutId,
                    checkoutComment: this.editCheckoutComment,
                    checkinComment: this.editCheckinComment,
                    userId: this.editCheckoutUserId,
                }),
                    headers: {
                    'Content-Type': 'application/json'
                }
            });
            const data = await res.json();
            // console.log("data=", data);

            if (data.errors) {
                this.editCheckoutModalError = data.errors;
            }
            if (data.updateScore) {
                this.showEditCheckoutModalSuccess = true;
                // TODO: update filtered checkouts list
            }
        },
        closeEditCheckout() {
            this.showEditCheckoutModal = false;
        },
        async handleCheckoutsFilterSubmit() {
            this.error = "";
            try {
                const res = await fetch('/admin/checkouts-vue', {
                    method: 'POST',
                    body: JSON.stringify({
                        signature: this.signature,
                        checkedOut: this.checkedOut,
                        userId: undefined,
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                const data = await res.json();
                // console.log("data=", data);
                if (data.error) {
                    this.error = data.error;
                    return;
                }
                this.admin = data.admin;
                this.checkouts = data.checkouts;
            } catch (err) {
                console.log("err=", err);
                this.error = err.message;
            }
        },
        async userSearch() {
            try {
                const res = await fetch('/admin/userSearch', {
                        method: 'POST',
                        body: JSON.stringify({
                        lastName: this.userLastName,
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                const data = await res.json();
                console.log("data=", data);
                if (data.errors) {
                    this.editCheckoutModalError = data.errors;
                    return;
                }
                if (data.users) {
                    this.users = data.users;
                }
            } catch (err) {
                console.log("err=", err);
                this.editCheckoutModalError = err.message;
            }
        },
        chooseUser(userId) {
            this.editCheckoutUserId = userId;
        }
    },
})

app.mount('#app')    
</script>



