<%- include('partials/header'); -%>

<h1>Ausleihen</h1>

<div class="w3-panel w3-red divError" style="display: none">
  <p class="pError">Fehler</p>
</div>

<div class="w3-panel w3-border divScore">
  <form action="/score/checkouts" method="POST" id="formFilter">
    <h3>Filter</h3>
    <label>Noten Signatur</label>

    <select class="w3-select" name="signature">
      <option value="" disabled selected>Choose your option</option>
      <% for (const signature of signatures) { %>
        <% const selected = signature.id === filter.signature ? "selected" : "" %>
        <option value="<%= signature.id %>" <%= selected %>><%= signature.name %></option>
      <% } %>
    </select>

    <!-- <input type="text" name="signature" value="<%= filter.signature %>" class="w3-input signature"> -->
    <label>Nur offene</label>
    <input type="checkbox" name="checkedOut" value="true" <%= filter.checkedOut ? "checked" : "" %> class="w3-check checkedOut">
    <p></p>
    <button class="w3-button w3-black btnCheckouts" type="submit">Suchen</button>
    <p></p>
  </form>
</div>

<% if (checkouts) { %>
<div class="w3-responsive">
  <table class="w3-table-all">
    <tr>
      <th>Noten Id</th>
      <th>User Id</th>
      <th>Ausgeliehen am</th>
      <th>Rückgabe am</th>
    </tr>
    <% 
    checkouts.forEach(checkout => { 
      const checkoutTimestamp = checkout.checkoutTimestamp ? checkout.checkoutTimestamp.toLocaleString("de-DE") : "";
      const checkinTimestamp = checkout.checkinTimestamp ? checkout.checkinTimestamp.toLocaleString("de-DE") : "";
    %>
    <tr>
      <td><%= checkout.scoreId %></td>
      <td><%= checkout.userId %></td>
      <td><%= checkoutTimestamp %></td>
      <td><%= checkinTimestamp %></td>
    </tr>
    <% }); %>
  </table>
</div>
<% } %>

<%- include('partials/footer'); -%>