<%- include('partials/header'); -%>

<h1>Ausleihen</h1>

<% if (error) { %>
<div class="w3-panel w3-red divError">
  <p class="pError"><%= error %></p>
</div>
<% } %>

<div class="w3-panel w3-border divScore">
  <form action="/score/checkouts" method="POST" id="formFilter">
    <h3>Filter</h3>
    <label>Noten Signatur</label>

    <select class="w3-select" name="signature">
      <option value="" disabled selected>Choose your option</option>
      <% for (const signature of signatures) { %>
      <% const selected = signature.id === filter.signature ? "selected" : "" %>
      <option value="<%= signature.id %>" <%= selected %>><%= signature.name %></option>
      <% } %>
    </select>

    <!-- <input type="text" name="signature" value="<%= filter.signature %>" class="w3-input signature"> -->
    <label>Nur offene</label>
    <input type="checkbox" name="checkedOut" value="true" <%= filter.checkedOut ? "checked" : "" %> class="w3-check checkedOut">
    <p></p>
    <button class="w3-button w3-black btnCheckouts" type="submit">Suchen</button>
    <p></p>
  </form>
</div>

<% if (checkouts) { %>
<div class="w3-responsive">

  <input class="w3-input w3-border w3-padding" type="text" placeholder="Filtern nach Benutzer.." id="searchUserInput" onkeyup="filterUser()">
  <p></p>
  <table class="w3-table-all" id="checkoutsTable">
    <tr>
      <th>Noten Id</th>
      <th>Benutzer</th>
      <th>Ausgeliehen am</th>
      <th>Rückgabe am</th>
    </tr>
    <% 
    checkouts.forEach(checkoutWithUser => { 
      const checkout = checkoutWithUser.checkout;
      const user = checkoutWithUser.user;
      const checkoutTimestamp = checkout.checkoutTimestamp ? checkout.checkoutTimestamp.toLocaleString("de-DE") : "";
      const checkinTimestamp = checkout.checkinTimestamp ? checkout.checkinTimestamp.toLocaleString("de-DE") : "";
    %>
    <tr>
      <td><%= checkout.scoreId %></td>
      <td><%= user ? user.firstName + " " + user.lastName : checkout.userId %></td>
      <td><%= checkoutTimestamp %></td>
      <td><%= checkinTimestamp %></td>
    </tr>
    <% }); %>
  </table>
</div>
<% } %>

<%- include('partials/footer'); -%>

<script>
  function filterUser() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("searchUserInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("checkoutsTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>