<%- include('partials/header'); -%>

<script src='https://unpkg.com/vue@3.0.2'></script>

<h1>Ausleihen</h1>
  
<div id="app">
    <div v-show="error" class="w3-panel w3-red">
        <p>{{ error }}</p>
    </div>
    
    <div v-if="admin" class="w3-panel w3-border">
        <form @submit.prevent="handleCheckoutsFilterSubmit">
            <h3>Filter</h3>
            <label>Noten Signatur</label>
        
            <select class="w3-select" v-model="signature">                
                <option value="">Noten auswählen</option>
                <option v-for="signature in signatures" :value="signature.id">{{signature.name}}</option>
            </select>
        
            <label>Nur offene&nbsp;</label>
            <input type="checkbox" class="w3-check" v-model="checkedOut">
            <p></p>
            <button class="w3-button w3-black">Suchen</button>
            <p></p>
        </form>
    </div>

    <div v-if="checkouts">
        <div class="w3-left-align"><p>{{ statSummary }}</p></div>
        <div class="w3-responsive">
            <p></p>
            <table class="w3-table-all">
                <tr>
                    <th v-if="filter.signature === SIGNATURE_ALL.id">Werk</th>
                    <th>Noten Id</th>
                    <th>Noten ext. Id</th>
                    <th v-if="admin">Benutzer</th>
                    <th>Ausgeliehen am</th>
                    <th>Kommentar Ausleihe</th>
                    <th v-if="admin"></th> <!-- Schalter Rückgabe -->
                    <th>Rückgabe am</th>
                    <th>Kommentar Rückgabe</th>
                  </tr>
                  <tr v-for="checkout in checkouts">
                    <td v-if="filter.signature === SIGNATURE_ALL.id">signatureMap.get(checkout.signature)</td>
                    <td>{{ checkout.scoreId }}</td>
                    <td>{{ checkout.scoreExtId }}</td>
                    <td v-if="admin">
                      <button @click="userDetails(checkout.user)" class="w3-button w3-pale-blue">{{ checkout.user.namePlusVoice }}</button>
                    </td>
                    <td v-if="admin"><button @click="editCheckout(checkout)" class="w3-button w3-pale-blue">{{ checkout.checkoutTimestamp }}</button></td>
                    <td v-else>{{ checkout.checkoutTimestamp }}</td>
                    <td>{{ checkout.checkoutComment }}</td>
                    <td>
                    </td>
                    <td>{{ checkout.checkinTimestamp }}</td>
                    <td>{{ checkout.checkinComment }}</td>
                  </tr>
            </table>          
        </div>    
    </div>


    <!-- The user details modal -->
    <div ref="userDetailsModal" class="w3-modal" style="display: none">
        <div class="w3-modal-content">
        <div class="w3-container">
            <span @click="closeUserDetails" class="w3-button w3-display-topright">&times;</span>
            <p>{{ userDetailsName }}</p>
            <table class="w3-table-all" id="checkoutsTable">
            <tr>
                <th>E-Mail</th>
                <th>Registriert am</th>
            </tr>
            <tr>
                <td class="userDetailsEmail">{{ userDetailsEmail }}</td>
                <td class="userDetailsRegisterDate">{{userDetailsRegisterDate }}</td>
            </tr>
            </table>
            <p></p>    
        </div>
        </div>
    </div>  

    <!-- edit checkout modal -->
    <div ref="editCheckoutModal" class="w3-modal" style="display: none">
        <div class="w3-modal-content">
        <div class="w3-container">
            <span @click="closeEditCheckout" class="w3-button w3-display-topright">&times;</span>
            <h3>Ausleihe bearbeiten</h3>
    
            <div v-show="showEditCheckoutModalSuccess" class="w3-panel w3-green">
            <p>Bearbeitung erfolgreich:</p>
            </div>
            <div v-show="editCheckoutModalError" class="w3-panel w3-red">
            <p>{{ editCheckoutModalError }}</p>
            </div>
    
            <p>{{ editCheckoutScoreId }}</p>
            <p>{{ editCheckoutId }}</p>
    
            <form @submit.prevent="updateCheckout">
            <input type="hidden" v-model="editCheckoutScoreId">
            <input type="hidden" v-model="editCheckoutId">
            <table class="w3-table-all">
                <tr>
                <th>Kommentar Ausleihe</th>
                <th>Kommentar Rückgabe</th>
                <th>User Id</th>
                </tr>
                <tr>
                <td><input v-model="editCheckoutComment" class="w3-input"></td>
                <td><input v-model="editCheckinComment" class="w3-input"></td>
                <td><input v-model="editCheckoutUserId" class="w3-input"></td>
                </tr>
            </table>
            <p></p>
            <button class="w3-button w3-black">OK</button>
            </form>
    
            <P></P>
            <h4>User suchen</h4>
    
            <form @click.prevent="userSearch">
            <table class="w3-table-all">
                <tr>
                <th>Nachname</th>
                </tr>
                <tr>
                <td><input class="w3-input" v-model="userLastName"></td>
                </tr>
            </table>
            <p></p>
            <button class="w3-button w3-black">User suchen</button>
            </form>
            <p></p>
            <table class="w3-table-all">
                <tr v-for="user in users">
                    <td>{{ user.id }}</td>
                </tr>
            </table>   
            <p></p>
    
        </div>
        </div>
    </div>
  

</div>

<%- include('partials/footer'); -%>

<script>

const app = Vue.createApp({
    data() {
        return {
            admin: JSON.parse('<%- admin %>'),
            signature: "",
            signatures: JSON.parse('<%- signatures %>'),
            filter: JSON.parse('<%- filter %>'),
            checkouts: undefined,
            checkedOut: true,
            scoreTypeTotalCount: 0,
            scoreTypeTotalCheckedOutCount: 0,
            statSummary: '',
            error: '',
            SIGNATURE_ALL: { id: 'ALL', name: 'Alle'},
            userNamePlusVoice: '',
            showUserDetails: false,
            userDetailsName: '',
            userDetailsEmail: '',
            userDetailsRegisterDate: 'TODO',
            editCheckoutId: '',
            editCheckoutScoreId: '',
            editCheckoutComment: '',
            editCheckinComment: '',
            editCheckoutUserId: '',
            showEditCheckoutModalSuccess: false,
            showFoo: false,
            editCheckoutModalError: '',
            users: [],
            userLastName: '',
        }
    },
    methods: {
        userDetails(user) {
            this.userDetailsName = user.name;
            this.userDetailsEmail = user.email;
            // v-show does not work here - don't know why
            const userDetailsModal = this.$refs["userDetailsModal"];
            userDetailsModal.style = 'display: block';
        },
        closeUserDetails() {
            const userDetailsModal = this.$refs["userDetailsModal"];
            userDetailsModal.style = 'display: none';
        },
        editCheckout(checkout) {
            this.showEditCheckoutModalSuccess = false;
            this.editCheckoutId = checkout.id;
            this.editCheckoutScoreId = checkout.scoreId;
            this.editCheckoutComment = checkout.checkoutComment;
            this.editCheckinComment = checkout.checkinComment;
            this.editCheckoutUserId = checkout.user.id;
            // v-show does not work here - don't know why
            const editCheckoutModal = this.$refs["editCheckoutModal"];
            editCheckoutModal.style = 'display: block';
        },
        async updateCheckout() {
            console.log("editCheckoutComment", this.editCheckoutComment, "editCheckinComment=", this.editCheckinComment, "editCheckoutUserId=", this.editCheckoutUserId);

            const res = await fetch('/admin/updateCheckout', {
                method: 'POST',
                body: JSON.stringify({
                    scoreId: this.editCheckoutScoreId,
                    checkoutId: this.editCheckoutId,
                    checkoutComment: this.editCheckoutComment,
                    checkinComment: this.editCheckinComment,
                    userId: this.editCheckoutUserId,
                }),
                    headers: {
                    'Content-Type': 'application/json'
                }
            });
            const data = await res.json();
            console.log("data=", data);

            if (data.errors) {
                this.editCheckoutModalError = data.errors;
            }
            if (data.updateScore) {
                this.showEditCheckoutModalSuccess = true;
                // TODO: update filtered checkouts list
            }
        },
        closeEditCheckout() {
            const editCheckoutModal = this.$refs["editCheckoutModal"];
            editCheckoutModal.style = 'display: none';
        },
        async handleCheckoutsFilterSubmit() {
            this.error = "";
            try {
                const res = await fetch('/admin/checkouts-vue', {
                    method: 'POST',
                    body: JSON.stringify({
                        signature: this.signature,
                        checkedOut: this.checkedOut,
                        userId: undefined,
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                const data = await res.json();
                // console.log("data=", data);
                if (data.error) {
                    this.error = data.error;
                    return;
                }
                this.admin = data.admin;
                this.checkouts = data.checkouts;
            } catch (err) {
                console.log("err=", err);
            }
        },
        async userSearch() {
            try {
                const res = await fetch('/admin/userSearch', {
                        method: 'POST',
                        body: JSON.stringify({
                        lastName: this.userLastName,
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                const data = await res.json();
                console.log("data=", data);
                if (data.errors) {
                    this.editCheckoutModalError = data.errors;
                    return;
                }
                if (data.users) {
                    this.users = data.users;
                }
            } catch (err) {
                console.log("err=", err);
            }
        },
    },
})

app.mount('#app')    
</script>



