<%- include('partials/header'); -%>

<h1>Noten History</h1>

<% 
  let errorStyle; 
  let errorText;
 if (error) { 
  errorStyle = "display: block"
  errorText = error;
 } else { 
  errorStyle = "display: none"
  errorText = "";
 } 
%>
<div class="w3-panel w3-red divError" style="<%= errorStyle %>">
  <p class="pError"><%= errorText %></p>
</div>

<form action="/score-history" id="formScan">
  <button class="w3-button w3-black btnScan">Noten scannen</button>
</form>


<script src="https://unpkg.com/html5-qrcode@2.3.8/html5-qrcode.min.js"></script>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #reader {
    width: 600px;
  }

  #result {
    text-align: center;
    font-size: 1.5rem;
  }
</style>
<main id="scanMain">
  <div id="reader"></div>
  <div id="result"></div>
</main>

<div class="divScoreIdSearch" style="display: block">
  <p>oder</p>
  <form action="/score/history" id="form" method="post">
  <label>Noten Id</label>
  <input type="text" id="scoreId" name="id" value="<%= id ?? "" %>" class="w3-input scoreIdSearch" required>
  <p></p>
  <button class="w3-button w3-black btnScoreIdSearch">Suchen</button>
</form>
</div>

<% const divTableStyle = checkouts ? "display: block" : "display: none";  %>
<div class="w3-responsive divTable" style="<%= divTableStyle %>">
  <p></p>
  <table class="w3-table-all" id="historyTable">
    <tr>
      <th>Werk</th>
      <th>Noten Id</th>
      <th>Noten ext. Id</th>
      <th>Benutzer</th>
      <th>Ausgeliehen am</th>
      <th>Kommentar Ausleihe</th>
      <th>Rückgabe am</th>
      <th>Kommentar Rückgabe</th>
    </tr>
    <% if (checkouts) { %>
    <% 
    checkouts.forEach(checkoutWithUser => { 
      const checkout = checkoutWithUser.checkout;
      const user = checkoutWithUser.user;
      const userName = user ? (user.firstName + " " + user.lastName) : checkout.userId;
      const userEmail = user ? user.email : "";  // user probably deleted from db
      const checkoutTimestamp = checkout.checkoutTimestamp ? checkout.checkoutTimestamp.toLocaleDateString("de-DE") : "";
      const checkinTimestamp = checkout.checkinTimestamp ? checkout.checkinTimestamp.toLocaleDateString("de-DE") : "";
      const scoreExtId = checkoutWithUser.scoreExtId;
    %>
    <tr>
      <td><%= signatureMap.get(checkoutWithUser.signature) %></td>
      <td><%= checkout.scoreId %></td>
      <td><%= scoreExtId %></td>
      <td><button onclick="userDetails('<%= userName %>', '<%= userEmail %>')" class="w3-button"><%= userName %></button></td>
      <td><%= checkoutTimestamp %></td>
      <td><%= checkout.checkoutComment %></td>
      <td><%= checkinTimestamp %></td>
      <td><%= checkout.checkinComment %></td>
    </tr>
    <% }); %>
    <% } %>
  </table>
</div>

<%- include('partials/footer'); -%>

<script>
  const formScan = document.querySelector('#formScan');
  const form = document.querySelector('#form');
  const btnScan = document.querySelector('.btnScan');
  const divError = document.querySelector('.divError');
  const divHome = document.querySelector('.divHome');
  const divTable = document.querySelector('.divTable');
  const divScoreIdSearch = document.querySelector('.divScoreIdSearch');

  var scanner;

  formScan.addEventListener('submit', async (e) => {
    e.preventDefault();
    divError.style = "display: none";
    divTable.style = "display: none";
    divScoreIdSearch.style = "display: none";

    scanner = new Html5QrcodeScanner('reader', {
      qrbox: {
        width: 250,
        height: 250,
      },
      fps: 20,
    });
    scanner.render(scanSuccess, scanError);
  });

  form.addEventListener('submit', async (e) => {
    e.preventDefault();
    divError.style = "display: none";
    divTable.style = "display: none";
    const form = document.getElementById('form');
    form.submit();
  });

  async function scanSuccess(result) {
    console.log(result);
    if (btnScan.textContent == "Noten scannen") {
      scanner.clear();
      document.getElementById('scoreId').value = result;
      const form = document.getElementById('form');
      form.submit();
    }
  }

  function scanError(err) {
    console.error(err);
  }
</script>